@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: ' Josefin Sans', serif;

$color-1: #4A536B;
$color-2: #AED6DC;
$color-3: rgb(99, 164, 233);
$color-4: #FF9A8D;
$color-5: #AED6DC;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

